<header class="header" v-if="!app.isPreview">
    <v-header-left :model="app.firstParentId" :webcode="webcode"></v-header-left>
    <v-header-center :model="app.groupContainer" :webcode="webcode"></v-header-center>
    <div class="header-right positionR">
        <ul>
            <li class=" toggleMob positionR " style="padding-right: 0px;padding-left: 0" v-if='app.isShowPC'>
                <a :href="channelflag[app.channel-1].src" class="toggleMobil positionR ripple">
                    <img :src="channelflag[app.channel-1].img" class="positionR">{{channelflag[app.channel-1].name}}
                </a>

            </li>
            <li class="ripple positionR" spinner="" :plain="true" v-loading="app.toPreivewLoad" @click="app.toPreivew" plain>
                <span>预览</span>
            </li>
            <li class="ripple positionR save" @click="savePage()" :plain="true" v-loading="saveLoading">保存</li>
        </ul>
        <!-- 历史版本 -->
        <!-- <div class="new-dialog ">
            <div v-cloak v-if="showhistory" class="text-dialog positionA history corner-top flipInX animated">
                <div class="dialog-title">
                    历史版本
                    <button @click="closeHistory" class="close-dialog" type="button"></button>
                </div>
                <div class="history-list">
                    <div class="flex-box row-j-between " v-for="(template,index) in myTemplate" :data-id="template.id">
                        <p>{{template.name}}</p>
                        <span class="pointer" onclick="pointerTemplate(this)">恢复</span>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- 保存为模板 -->
        <!-- <v-save-template v-if="saveTemplateisDialogShow == 1" :tplThemeColorArr="tplThemeColorArr" :tplTopLevelArr="tplTopLevelArr"></v-save-template> -->

        <!-- <img  id="widthBox"  src="images/history.png"> -->
    </div>
</header>