<div v-if="visiable" class="new-page alter-page text-dialog flex-column mobileFooterList">
    <div class="dialog-title">
        修改页面
        <button @click="close" class="close-dialog" type="button"></button>
    </div>
    <div class="pd-0-20 content scroll-bar" style="height: 630px;overflow-y:auto;overflow-x:hidden;">
        <el-row>
            <li>
                <span>页面类型</span>
                <el-select v-model="newPageInfo.columnCode" placeholder="请选择">
                    <el-option v-for="item in navType" :key="item.code" :label="item.name" :value="item.code"></el-option>
                </el-select>
            </li>
        </el-row>
        <el-row>
            <li>
                <span>上级名称</span>
                <el-select v-model="newPageInfo.parentId" placeholder="请选择">
                    <el-option v-if="item" v-for="item in navList1" :key="item.menuId" :label="item.name" :value="item.menuId"></el-option>
                </el-select>
            </li>
        </el-row>
        <el-row>
            <el-checkbox v-model="newPageInfo.target" :true-label="0" :false-label="1" v-show="newPageInfo.columnCode !== 'custom'">新窗口打开</el-checkbox>
        </el-row>
        <el-row>
            <span>填写名称</span>
            <el-input type="text" v-model="newPageInfo.name" placeholder="导航名称" maxlength="8"></el-input>
        </el-row>
        <addlink :model="model" :callback="addLink" v-show="newPageInfo.columnCode == 'custom'" class="newPageBtn"></addlink>
    </div>
    <div class="square-btn-box clearfix text-dcrtion positionR">
        <button @click="updateNavigation" type="button" class="succee-btn fr">
            确 定
        </button>
    </div>
</div>