.boxShadow {
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.tplSame {
  z-index: 2;
  left: 22px;
}
.mytpl {
  top: 232px;
}
.mytpl .btnIconBox {
  border-radius: 50%;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  z-index: 100;
}
.mytpl .clearBoxShadow {
  background-color: #363f4d;
  box-shadow: none;
}
.mytpl .tplImgBox {
  width: 19px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 999;
}
.mytpl .iconRight {
  width: 41px;
  height: 95px;
  top: -24px;
  left: 50%;
}
#mytplDialog {
  top: -130px;
}
.tplSameDialog {
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.2);
  width: 80vw;
  height: 80vh;
  max-height: 725px;
  background-color: #ffffff;
  z-index: 999;
  left: 65px;
  border-radius: 10px;
  border-left: 12px solid #363f4d;
  color: #292d33;
}
.tplSameDialog .borderBottom {
  border-bottom: 1px solid #e6e6e6;
}
.tplSameDialog .mytpl_header {
  height: 50px;
  line-height: 50px;
}
.tplSameDialog .mytpl_header .tpl_right {
  padding: 16px 28px 0 0;
}
.tplSameDialog .mytpl_header .closeBox {
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 50%;
}
.tplSameDialog .mytpl_header .closeBox:hover {
  background: #ebeff5;
}
.tplSameDialog .mytpl_nav {
  height: 70px;
  line-height: 70px;
  padding-left: 10px;
}
.tplSameDialog .mytpl_nav .mytpl_save {
  width: 120px;
  height: 34px;
  line-height: 34px;
  background-color: #5ca6e2;
  color: #fff;
  padding-left: 20px;
  margin: 14px 30px 0 0;
  border-radius: 17px;
}
.tplSameDialog .mytpl_nav li {
  padding: 0 20px;
  cursor: pointer;
}
.tplSameDialog .mytpl_nav li:hover {
  color: #69bbff;
}
.tplSameDialog .mytpl_nav li.mytpl_border {
  box-sizing: border-box;
  height: 14px;
  border-right: 1px solid #5d6367;
  padding: 0;
  margin-top: 30px;
}
.tplSameDialog .tplList {
  padding: 30px 0 0 30px;
}
.tplSameDialog .tplList .dataUl {
  overflow-y: auto;
  height: 60vh;
  max-height: 575px;
}
.tplSameDialog .tplList .dataUl li {
  width: 268px;
  height: 268px;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  overflow: hidden;
}
.tplSameDialog .tplList .dataUl li:last-of-type {
  margin-right: 0;
}
.tplSameDialog .tplList .dataUl li .imgBox {
  overflow: hidden;
}
.tplSameDialog .tplList .dataUl li .imgBox img {
  width: 100%;
  transition: transform 0.3s;
}
.tplSameDialog .tplList .myTplUl li:hover img {
  transform: scale(1.2);
}
.tplSameDialog .tplList .imgBox {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.tplSameDialog .tplList .tplBottom {
  border-top: 1px solid #e6e6e6;
  height: 90px;
}
.tplSameDialog .tplList .tplBottom .tpl_name {
  height: 44px;
  line-height: 44px;
  color: #5d6367;
  padding-left: 14px;
}
.tplSameDialog .tplList .tplBottom .info {
  height: 44px;
  line-height: 44px;
  color: #5d6367;
  padding: 0  20px 0 14px;
}
.tplSameDialog .tplList .tplBottom .info span.reading {
  color: #b8bfcc;
  cursor: pointer;
  padding: 0 10px;
}
.tplSameDialog .tplList .tplBottom .info span.reading:hover {
  color: #b8bfcc;
}
.tplSameDialog .tplList .tplBottom .info span.tpl_data {
  color: #b8bfcc;
  cursor: pointer;
  padding: 0 10px;
}
.tplSameDialog .tplList .tplBottom .info span.tpl_data:hover {
  color: #b8bfcc;
}
.tplSameDialog .tplList .tplBottom .info span:hover {
  color: #69bbff;
}
.tplSameDialog .tplList .tplBottom .info .chosenUse {
  padding: 0 10px;
  color: #69bbff;
  cursor: pointer;
}
.tplSameDialog .tplList li.active {
  border: 1px solid #69bbff;
}
.tplSameDialog .tplList .no-tpl-tips {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  bottom: 0;
  margin: auto;
}
.tplSameDialog .no-mytpl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mytpl_tier {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#mytpl-nameEiditdialog {
  width: 300px;
  height: 292px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -136px;
  z-index: 1000;
  border-radius: 10px;
  overflow: hidden;
}
#mytpl-nameEiditdialog .mytplnameEidit_header {
  height: 52px;
  line-height: 52px;
  background: #292d33;
  cursor: move;
}
#mytpl-nameEiditdialog .mytplnameEidit_header .nameEidit_btnBox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #363f4d;
  margin: 16px 16px 0 0;
  padding: 6px;
}
#mytpl-nameEiditdialog .eidit_conten {
  color: #292d33;
  height: 180px;
  box-sizing: border-box;
}
#mytpl-nameEiditdialog .eidit_conten h5 {
  height: 42px;
  padding: 12px 0 0 12px;
  line-height: 30px;
  color: #292d33;
  box-sizing: border-box;
  font-size: 14px;
}
#mytpl-nameEiditdialog .eidit_conten .currentVersions {
  width: 260px;
  padding: 12px 0 0 10px;
  box-sizing: border-box;
  height: 80px;
  border: 1px solid #69bbff;
  border-radius: 4px;
  margin-bottom: 0;
}
#mytpl-nameEiditdialog .eidit_conten .name_tips {
  height: 36px;
  line-height: 36px;
  padding-left: 5px;
  margin-top: -8px;
  color: #999999;
}
#mytpl-nameEiditdialog .eidit_conten .name_tips sub {
  vertical-align: middle;
}
#mytpl-nameEiditdialog .name_btnBox {
  height: 60px;
  border-top: 1px solid #e6e6e6;
}
#mytpl-nameEiditdialog .name_btnBox .name_eiditBtn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #69bbff;
  margin: 14px 20px 0 0;
  border-radius: 7px;
}
.tpl-loadingBox {
  background-color: #ffffff;
}
#tpl {
  top: 170px;
}
#tplDialog {
  top: -60px;
  width: 80vw;
}
.mdTips {
  color: #333333;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.tplBottom {
  background-color: #ffffff;
}
.tplBottom .tplsliderBar {
  width: 312px;
  height: 72vh;
  border-right: 1px solid #e6e6e6;
}
.tplBottom .tplsliderBar .tplSearchBox {
  height: 60px;
  line-height: 60px;
  padding-top: 15px;
  width: 320px;
}
.tplBottom .tplsliderBar .tplSearchBox input {
  width: 260px;
  height: 30px;
  display: block;
  padding-left: 35px;
  background: #ebeff5 url("../images/tplSearch.png") no-repeat 9px center;
  border-radius: 14px;
}
.tplBottom .tplsliderBar h5 {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
  border-left: 3px solid #69bbff;
}
.tplBottom .tplsliderBar .sliderSame {
  padding-left: 20px;
  margin-bottom: 20px;
}
.tplBottom .tplsliderBar .sliderSame ul {
  display: flex;
  flex-wrap: wrap;
}
.tplBottom .tplsliderBar .sliderSame ul > li {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid  transparent;
  margin-bottom: 5px;
  margin-top: 5px;
}
.tplBottom .tplsliderBar .sliderSame ul > li.active {
  color: #69bbff;
  border: 1px solid  #69bbff;
  border-radius: 15px;
}
.tplBottom .tplsliderBar .sliderSame ul > li:hover {
  color: #69bbff;
}
.tplBottom .tplsliderBar .colorChosen {
  padding-left: 20px;
}
.tplBottom .tplsliderBar .colorChosen li {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tplBottom .tplsliderBar .colorChosen li .liInner {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
}
.tplBottom .tplsliderBar .colorChosen li.active .liInner {
  border: 2px solid #ffffff;
}
.tplBottom .tplsliderBar .colorChosen li:hover .liInner {
  border: 2px solid #ffffff;
}
.tplBottom .tplsliderBar .colorChosen li:last-of-type {
  margin-right: 0px;
}
.tplBottom .tplList {
  padding-top: 0;
}
.tplBottom .tplList .slideBox {
  color: #4d4d4d;
}
.tplBottom .tplList .slideBox h5 {
  margin: 18px 0px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  border-left: 3px solid #9d9d9d;
  padding-left: 10px;
}
.tplBottom .tplList .slideBox .lineBox {
  height: 0;
  border-top: 1px solid #e6e6e6;
}
.tplBottom .tplList .slideBox .ulParentBox ul li {
  float: left;
  height: 54px;
  line-height: 54px;
  text-align: left;
  padding-right: 40px;
}
.tplBottom .tplList .title ul {
  width: 144px;
  border: 1px solid #69bbff;
  border-radius: 4px;
}
.tplBottom .tplList .title li {
  height: 26px;
  line-height: 26px;
  float: left;
  font-size: 12px;
  text-align: center;
  width: 71px;
  color: #69bbff;
  cursor: pointer;
}
.tplBottom .tplList .title li.active {
  background-color: #69bbff;
  color: #ffffff;
}
.tplBottom .tplList .title li:nth-child(2) {
  border-left: 1px solid #69bbff;
}
.tplBottom .tplList .dataUl li {
  margin-bottom: 30px;
}
.tplBottom .tplList .tplDownDialog {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 200;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent {
  background-color: #ffffff;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .contentTitle {
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 0px;
  height: 50px;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .contentTitle span {
  display: inline-block;
  font-size: 14px;
  border-left: 3px solid #9d9d9d;
  padding-left: 10px;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .slideUlBox {
  margin-right: 0;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .slideUlBox ul li {
  float: left;
  margin-right: 40px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 12px;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .slideUlBox ul li.active {
  border: 0;
  color: #69bbff;
}
.tplBottom .tplList .tplDownDialog .tplDownDialogContent .slideUlBox ul li:hover {
  border: 0;
  color: #69bbff;
}
.tplListIcon {
  top: 110px;
}
.tplListIcon .iconTop {
  top: 0;
  height: 71px;
}
#tplListDialog {
  top: 0px;
  border-top-left-radius: 0px;
  border-left: none;
  width: 458px;
  overflow: hidden;
}
#tplListDialog .addMduleLeft {
  width: 106px;
  height: 100%;
  padding-top: 20px;
  background-color: #363f4d;
}
#tplListDialog .addMduleLeft li {
  width: 68px;
  height: 30px;
  line-height: 30px;
  display: block;
  margin: 0px auto;
  margin-bottom: 10px;
  text-align: center;
}
#tplListDialog .addMduleLeft li.active {
  border-radius: 15px;
  background-color: #5ca6e2;
}
#tplListDialog .addMduleLeft li a {
  color: #ffffff;
  font-size: 12px;
}
#tplListDialog h5 {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
  border-left: 3px solid #69bbff;
  margin: 20px 0 20px 20px;
}
#tplListDialog .addMduleRight {
  width: 350px;
  color: #292d33;
}
#tplListDialog .addMduleRight .el-collapse-item__content {
  padding-bottom: 0;
}
#tplListDialog .addMduleRight .tabsTitle {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
}
#tplListDialog .addMduleRight .tabsTitle .tpl_right {
  padding: 16px 28px 0 0;
}
#tplListDialog .addMduleRight .tabsTitle .closeBox {
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 50%;
}
#tplListDialog .addMduleRight .tabsTitle .closeBox:hover {
  background: #ebeff5;
}
#tplListDialog .addMduleRight li {
  width: 310px;
  height: 112px;
  border: 1px solid #ebeff5;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: move;
}
#tplListDialog .addMduleRight .layout ul .dashedStyle {
  border: 1px dashed #69bbff;
}
#tplListDialog .addMduleRight .layout ul .bgcColor {
  background-color: #c1e3ff;
}
#tplListDialog .addMduleRight .layout ul .listHeight {
  height: 40px;
}
#tplListDialog .addMduleRight .layout ul .oneList {
  width: 200px;
  margin: 20px auto;
}
#tplListDialog .addMduleRight .layout ul .twoList {
  width: 98px;
}
#tplListDialog .addMduleRight .layout ul .fourList {
  width: 48px;
}
#tplListDialog .addMduleRight .layout ul .marginRight {
  margin-right: 2px;
}
#tplListDialog .addMduleRight .CommonElements p {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
#tplListDialog .addMduleRight .CommonElements img {
  display: block;
  margin: 0 auto;
}
#tplListDialog .addMduleRight .CommonElements .imgLi {
  padding-top: 20px;
}
#tplListDialog .addMduleRight .CommonElements .eleImg {
  padding-top: 20px;
}
#tplListDialog .addMduleRight .moduleContent {
  height: 688px;
  overflow: auto;
  padding-bottom: 30px;
}
#tplListDialog .addMduleRight .moduleContent .contentBox {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
#tplListDialog .addMduleRight .moduleContent .contentBox img {
  width: 100%;
  height: 100%;
}
#tplListDialog .addMduleRight .moduleContent .contentBox:hover > .moduleTier {
  display: block;
}
#tplListDialog .addMduleRight .moduleContent .moduleTier {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#tplListDialog .addMduleRight .moduleContent .moduleTier .btnBox {
  width: 156px;
  height: 28px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -78px;
}
#tplListDialog .addMduleRight .moduleContent .moduleTier .btnBox span {
  color: #ffffff;
}
#tplListDialog .addMduleRight .moduleContent .moduleTier .btn {
  width: 68px;
  height: 28px;
  line-height: 28px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 2px;
}
#tplListDialog .addMduleRight .moduleContent .moduleTier .btn:hover {
  background-color: #5CA5E3;
  border-color: #5CA5E3;
}
#tplListDialog .addMduleRight .moduleContent p {
  line-height: 30px;
}
