
<div class="style-choose com-set-item scroll-bar">
    <ul class="color clearfix mar-bot">
        <li class="lis red active">
            <div class="liInner red"></div>
        </li>
        <li class="lis orange">
            <div class="liInner orange"></div>
        </li>
        <li class="lis yellow">
            <div class="liInner yellow"></div>
        </li>
        <li class="lis green">
            <div class="liInner green"></div>
        </li>
        <li class="lis blue">
            <div class="liInner blue"></div>
        </li>
    </ul>
    <ul class="style">
        <li class="style-item gray-border mar-bot">
            默认
        </li>
        <li class="style-item gray-border mar-bot">
            空白
        </li>
        <li class="style-item gray-border mar-bot last">
            <div class="bar-box">
                <p class="titleBar-text p-ele fs20">主标题</p>
                <p class="second-titleBar-text p-ele fs14">副标题</p>
            </div>
            <p class="bottom-text">10086</p>
        </li>
    </ul>
</div>