<!-- 设置弹框 start-->
<div  class="commonDialog" v-if="visible" style="height:80%">
    <div class="cs-title" id="dialogId">
        <span>标签页设置</span>
        <i class="closeDialog" @click="visible=false" data-isSecond="1"></i>
    </div>
    <div class="commonSet-content sdialog">
        <div style="height:690px;">
            <el-tabs v-model="activeTab" type="card">
                <el-tab-pane label="标签栏" name="标签栏">
                    <tabsbar :parent="parent" :model="model"></tabsbar>
                </el-tab-pane>
                <el-tab-pane label="标签项" name="标签项">
                    <tabsitem :parent="parent" :model="model"></tabsitem>
                </el-tab-pane>
            </el-tabs>
        </div>
        <div class="square-btn-box clearfix text-dcrtion positionA">
            <button class="succee-btn reset-btn fr succee-btn-text marright20 fs12" @click="_reset" type="button">
                重置
            </button>
        </div>
    </div>
</div>
<!-- 公共样式设置 end-->