<v-cptborder v-loading='loading' :model="model" :editing="editingConfig" :setting="settingConfig">
    <!--基础-->
    <div v-if="model.type==0||model.type==3||model.type==7||model.type==10" style="position:relative;width:100%;">
        <div :style="model.articleStyle" v-if="paging(i)" v-for="(art,i) in articles" style="width:100%;border-bottom: 1px dashed #ccc;">

            <el-row :style="model.articleStyle" v-if="(model.type==3||model.type==10)&&i==start" :gutter="4" :style="{height:model.imagedHeight,overflow:'hidden'}">
                <div style="float:left;margin: 20px;overflow: hidden;" :style="{width: model.imageWidth,height: model.imageHeight,}">

                    <v-hover-image style="width:100%;height:100%;" :src="app.b2cImaSrc + art.image" :hoverEffect="model.hoverEffect"></v-hover-image>
                </div>
                <div style="float:left;margin-top: 20px; margin-left: 10px;" :style="{width:'calc( 100% - 60px - '+ model.imageWidth +')'}">
                    <div style="width:100%;height:40px;">
                        <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                            <span style="float:left;color: #5ca6e2;font-size: 14px;width: 60%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis">{{art.title}}</span>
                            <span style="float:right;font-size: 13px;color: #999;">{{art.createTime.slice(0,10)}}</span>
                        </a>
                    </div>
                    <div style="width:100%;font-size: 13px;color: #999;" :class="{'line-4-hide':model.type==10||model.type==3}">
                        <span v-html="art.newsSummary"></span>
                    </div>
                </div>

            </el-row>

            <div v-if="(model.type==0||model.type==7)||(model.type==3&&i!=start)||(model.type==10&&i!=start)" style="height:40px;line-height:40px;width: calc(100% - 20px);margin: 0 10px;">
                <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                    <span class="hover1" style="float:left;color: #4d4d4d;font-size: 14px;width: 75%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis">{{art.title}}</span>
                    <span style="float:right;font-size: 13px;color: #999;">{{art.createTime.slice(0,10)}}</span>
                </a>
            </div>
        </div>
    </div>

    <div v-if="model.type==1" style="width:100%;">
        <div v-if="paging(i)" v-for="(art,i) in articles" style="margin:2% 2%;width:29.3%;float:left;box-sizing:border-box;">
            <el-card :body-style="{ 'padding': '0 0 10px 0',height:'100%',width:'100%'}" style="height:100%;">
                <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                    <el-row>
                        <el-col :span="24">
                            <div style="width: 100%;overflow:hidden;" :style="{height: model.imageHeight}">
                                <v-hover-image style="height: 100%" :style="{height: model.imageHeight}" :src="app.b2cImaSrc + art.image" :hoverEffect="model.hoverEffect"></v-hover-image>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="padding:2% 4% 0 4%;">
                        <el-col class="line-1-hide" :span="24" style="font-size: 14px;color:#5ca6e2;line-height: 30px;">
                            {{art.title}}
                        </el-col>
                    </el-row>
                    <el-row style="padding:0 4%">
                        <el-col :span="24" style="font-size: 12px;color:#808080;line-height: 30px;" class="line-2-hide">
                            <span v-html="art.newsSummary"></span>
                        </el-col>
                    </el-row>
                </a>
            </el-card>
        </div>
    </div>

    <!--多行配图-->
    <div v-if="model.type==2||model.type==9" style="width:100%;">

        <el-row :style="model.articleStyle" v-if="paging(i)" v-for="(art,i) in articles" :gutter="4"
                :style="{'border-bottom':'1px dashed #ddd',overflow:'hidden'}">
            <div style="float:left; margin: 20px 10px; height: 100%" :style="{height:model.imageHeight,width: model.imageWidth}" >
                <v-hover-image :addon="model.addon" style="width:100%;height:100%;" :src="app.b2cImaSrc + art.image"
                               :hoverEffect="model.hoverEffect"></v-hover-image>
            </div>


            <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                <avs :model="model" style="margin-top: 20px; width: calc(100% - 20px)"
                     :st="{width:'calc( 100% - '+ model.imageWidth +')',float:'left'}"
                     :art="art"></avs>
            </a>

        </el-row>
    </div>

    <!--时间轴列表-->
    <div v-if="model.type==4||model.type==11" style="width:100%;">
        <el-row :style="model.articleStyle" v-if="paging(i)" v-for="(art,i) in articles" :gutter="4">
            <div class="timeLine">
                <span>{{art.createTime.slice(0,10)}}</span>
            </div>
            <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                <el-row :style="{width:'calc( 100% - 150px)',float:'left'}">
                    <el-col :span="24" style="font-size: 14px;color:#4d4d4d;line-height: 45px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis" :style="wid">
                        {{art.title}}
                    </el-col>
                </el-row>
                <el-row :style="{width:'calc( 100% - 150px)',float:'left'}">
                    <el-col :span="24" class="line-2-hide" style="font-size: 12px;color:#808080;line-height: 30px;">
                        <span v-html="art.newsSummary"></span>
                    </el-col>
                </el-row>
            </a>
        </el-row>
    </div>

    <!--基础带简介-->
    <div v-if="model.type==5||model.type==12" style="width:100%;border-bottom: 1px dashed #ccc;">

        <el-row :style="model.articleStyle" v-if="paging(i)" v-for="(art,i) in articles" :gutter="4" :style="{height:model.imageHeight}"
            style="height:120px;border-bottom: 1px dashed #ccc;padding-bottom: 20px;">
            <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                <avs :model="model" :style="{width:'100%',padding:'20px'}" :art="art"></avs>
            </a>
        </el-row>
    </div>
    <!--日期前置-->
    <div v-if="model.type==6||model.type==13" style="width:100%;">
        <el-row :style="model.articleStyle" v-if="paging(i)" v-for="(art,i) in articles" :gutter="4" :style="model.articleStyle"
            style="height:100px;border-bottom: 1px dashed #ccc;">

            <div style="width:80px;height:80px;margin:10px 20px;line-height:40px;text-align: center;float:left;background:rgba(92,166,226,0.2)">
                <div style="color: #5ca6e2;font-size: 20px;line-height: 50px;">{{art.createTime.slice(8,11)}}</div>
                <div style="color: #5ca6e2;font-size: 14px; line-height: 20px;">
                    {{art.createTime.slice(0,4)}}/{{art.createTime.slice(5,7)}}
                </div>
            </div>
            <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                <avs :model="model" :style="{width:'calc( 100% - 140px)',float:'left'}" :art="art"></avs>
            </a>
        </el-row>
    </div>

    <div v-if="model.type==8" style="width:100%;">
        <div v-if="paging(i)" v-for="(art,i) in articles" style="margin:2% 2%;width:46%;float:left;box-sizing:border-box;">
            <el-card :body-style="{ 'padding': '0 0 10px 0',height:'100%',width:'100%'}" style="height:100%;">
                <a :href="'http://' + app.saveParams.domainUrl + '/news/' + art.id + '.html'" target="_blank">
                    <el-row>
                        <el-col :span="24">
                            <div :style="{height:model.imageHeight}">
                                <v-hover-image :src="app.b2cImaSrc + art.image" :hoverEffect="model.hoverEffect" :style="{height:model.imageHeight}"></v-hover-image>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="padding:2% 4% 0 4%;">
                        <el-col class="line-1-hide" :span="24" style="font-size: 14px;color:#5ca6e2;line-height: 30px;">
                            {{art.title}}
                        </el-col>
                    </el-row>
                    <el-row style="padding:0 4%">
                        <el-col :span="24" style="font-size: 12px;color:#808080;line-height: 30px;" class="line-2-hide">
                            <span v-html="art.newsSummary"></span>
                        </el-col>
                    </el-row>
                </a>
            </el-card>
        </div>
    </div>


    <el-row style="position:relative;width:100%;height:40px;text-align: center;margin-top:20px;float:left;">
        <el-pagination small layout="prev, pager, next" :page-size="model.capacity" :total="articles.length" @current-change="e=>{currentPage=e-1;}">
        </el-pagination>
    </el-row>

</v-cptborder>