<v-cptborder :model="model" :editing="editingConfig" :setting="settingConfig">
    <video :id="uid" class="video-js" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}' style="width: 96%;height: 96%;margin: auto;top:0;left:0;right:0;bottom: 0;position: absolute;">
        <!--<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>-->
        <!--<source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>-->
        <!--<source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>-->
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
</v-cptborder>