<v-cptborder :model="model" :editing="editingConfig" :setting="settingConfig">
    <div style="width:100%;height:100%;position:relative;">
        <!--<embed :src='model.src' allowFullScreen='true' quality='high'-->
               <!--:style="style" align='middle' allowScriptAccess='always'-->
               <!--type='application/x-shockwave-flash'></embed>-->

        <!--http://player.youku.com/player.php/sid/XMzU5MjM3MDQ4MA==/v.swf-->

        <iframe :style="style" :src='src' frameborder=0 allowfullscreen></iframe>
    </div>

</v-cptborder>