* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.clearInput {
  border: 0;
  outline: 0;
}
.opacity0 {
  opacity: 0;
}
.tips {
  color: #808080;
}
/*�Ż�������*/
::-webkit-scrollbar {
  width: 5px;
  margin-right: -12px;
  border-radius: 8px;
  background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: #dadbe6;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.positionR {
  position: relative;
}
.positionA {
  position: absolute;
}
.displayN {
  display: none;
}
.displayB {
  display: block;
}
.displayI {
  display: inline-block;
}
.alignC {
  text-align: center;
}
.alignL {
  text-align: left;
}
.alignR {
  text-align: right;
}
.m0auto {
  margin: 0 auto;
}
.pointer {
  cursor: pointer;
}
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs36 {
  font-size: 36px;
}
.fs38 {
  font-size: 38px;
}
.fs40 {
  font-size: 40px;
}
.fs42 {
  font-size: 42px;
}
.fs44 {
  font-size: 44px;
}
.fs46 {
  font-size: 46px;
}
.fs48 {
  font-size: 48px;
}
.fs50 {
  font-size: 50px;
}
.lh12 {
  line-height: 12px;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh26 {
  line-height: 26px;
}
.lh28 {
  line-height: 28px;
}
.lh30 {
  line-height: 30px;
}
.lh32 {
  line-height: 32px;
}
.lh34 {
  line-height: 34px;
}
.lh36 {
  line-height: 36px;
}
.lh38 {
  line-height: 38px;
}
.lh40 {
  line-height: 42px;
}
.lh44 {
  line-height: 44px;
}
.lh46 {
  line-height: 46px;
}
.lh48 {
  line-height: 48px;
}
.lh50 {
  line-height: 50px;
}
.lh52 {
  line-height: 52px;
}
.lh54 {
  line-height: 54px;
}
.lh56 {
  line-height: 56px;
}
.lh58 {
  line-height: 58px;
}
.lh60 {
  line-height: 60px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.spacerBar {
  height: 10px;
  width: 100%;
  background-color: #F0F1FA;
}
.banxin {
  width: 1200px;
  margin: 0 auto;
}
.left-nav {
  width: 60px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2d3644;
  z-index: 660;
}
.left-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  cursor: pointer;
  font-size: 12px;
}
.left-nav li.first {
  height: 50px;
  opacity: 1;
}
.left-nav li.on {
  position: relative;
}
.left-nav li.on a > div {
  opacity: 1;
}
.left-nav li.on::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #6497dd;
  position: absolute;
  top: 0;
  left: 0;
}
.left-nav li a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}
.left-nav li a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.left-nav li.set {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.layout {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}
.layout > header {
  width: 100%;
  height: 50px;
  border: 1px solid #E6E6E6;
  padding-right: 30px;
  display: flex;
}
.layout > header > div {
  flex: 8;
}
.layout > header > ul {
  padding-top: 10px;
  flex: 2;
}
.layout > header > ul > .one {
  padding-top: 8px;
  padding-right: 27px;
  color: #666666;
}
.layout > header > ul > .two {
  color: #238de3;
  width: 90px;
  height: 30px;
  border-radius: 15px;
  padding-top: 5px;
  border: 1px solid #238DE3;
}
.layout > .content {
  height: calc(100% - 50px);
  display: flex;
}
.layout > .content > .right {
  background-color: #ffffff;
  padding: 0px 30px;
  flex: 1;
  height: calc(100% - 50px);
}
.layout > .content > .right > nav {
  height: 60px;
  border-bottom: 1px solid #DFE2E6;
}
.layout > .content > .right > nav > ul > li {
  padding: 24px 0px 14px;
  margin-right: 45px;
  color: #262626;
  height: 100%;
}
.layout > .content > .right > nav > ul > .active {
  color: #238DE3;
  border-bottom: 3px solid #238DE3;
}
.layout > .content > .right > nav > .rightBox img {
  display: block;
  width: 7px;
  height: 4px;
  margin-right: 10px;
}
.layout > .content > .right > nav > .rightBox li {
  margin-right: 0;
}
.layout > .content > .right > nav > .rightBox li:first-child.on ul {
  border-top: 1px solid #238de3;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(56, 125, 182, 0.2);
  position: absolute;
}
.layout > .content > .right > nav > .rightBox li:first-child.on li {
  width: 70%;
  padding: 6px 0;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #dfe2e6;
}
.layout > .content > .right > nav > .rightBox li:first-child.on li:hover {
  color: #238de3;
}
.layout > .content > .right > nav > .rightBox li:first-child.on li:last-child {
  border-bottom: 0;
}
.layout > .content > .right > nav > .rightBox .search-input {
  border-left: 1px solid #dfe2e6;
  padding-left: 10px;
}
.layout > .content > .right > nav > .rightBox .search-input input::-webkit-input-placeholder {
  color: #cccccc;
}
.layout > .content > .right > nav > .rightBox .search-input input:-moz-placeholder {
  color: #cccccc;
}
.layout > .content > .right > nav > .rightBox .search-input input::-moz-placeholder {
  color: #cccccc;
}
.layout > .content > .right > nav > .rightBox .search-input input:-ms-input-placeholder {
  color: #cccccc;
}
.layout > .content > .right > nav > .rightBox .search-box img {
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
}
.layout > .content > .right > nav > .rightBox span {
  margin-right: 22px;
}
.layout > .content > .right > nav > .rightBox .item {
  color: #707070;
  left: 0;
  top: 59px;
  background: #fff;
  width: 100%;
  padding-bottom: 4px;
}
.layout > .content > .right > .dataBox {
  padding-top: 20px;
  height: calc(100% - 20px);
}
.layout > .content > .right > .dataBox > .title {
  height: 54px;
  background-color: #edf1f5;
  display: flex;
}
.layout > .content > .right > .dataBox > .title > li {
  padding-top: 16px;
  color: #333333;
}
.layout > .content > .right > .dataBox > .title > .checkboxBox {
  padding-left: 20px;
  padding-right: 20px;
}
.layout > .content > .right > .dataBox > .title > .checkboxBox > .checkbox {
  vertical-align: middle;
}
.layout > .content > .right > .dataBox > .title > .productName {
  text-align: left;
  flex: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout > .content > .right > .dataBox > .title > .productClass {
  text-align: left;
  flex: 1.2;
}
.layout > .content > .right > .dataBox > .title > .productMomey {
  flex: 1;
}
.layout > .content > .right > .dataBox > .title > .time {
  flex: 1;
}
.layout > .content > .right > .dataBox > .title > .do {
  flex: 1;
}
.layout > .content > .right > .dataBox > .data {
  height: calc(100% - 124px);
  overflow-y: auto;
}
.layout > .content > .right > .dataBox > .data > li {
  height: 54px;
  background-color: #ffffff;
  border-bottom: 1px solid #E9ECF0;
}
.layout > .content > .right > .dataBox > .data > li > .title {
  height: 50px;
  background-color: #ffffff;
  display: flex;
}
.layout > .content > .right > .dataBox > .data > li > .title > li {
  padding-top: 16px;
  color: #666666;
}
.layout > .content > .right > .dataBox > .data > li > .title > .checkboxBox {
  padding-left: 20px;
  padding-right: 20px;
}
.layout > .content > .right > .dataBox > .data > li > .title > .checkboxBox > .checkbox {
  vertical-align: middle;
}
.layout > .content > .right > .dataBox > .data > li > .title > .productName {
  text-align: left;
  flex: 1.5;
}
.layout > .content > .right > .dataBox > .data > li > .title > .productClass {
  text-align: left;
  flex: 1.2;
}
.layout > .content > .right > .dataBox > .data > li > .title > .productMomey {
  font-family: SimSun;
  flex: 1;
}
.layout > .content > .right > .dataBox > .data > li > .title > .time {
  font-family: SimSun;
  flex: 1;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do {
  margin-top: -7px;
  flex: 1;
  display: flex;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete {
  width: 30px;
  height: 30px;
  background-color: #edf1f5;
  border-radius: 50%;
  padding: 8px 0px 0px 8px;
  margin-right: 10px;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete > i {
  width: 14px;
  height: 14px;
  background-image: url("../../images/product/shanc.png");
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete:hover {
  background-color: #dce6ef;
  color: #ff0000;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete:hover i {
  background-image: url("../../images/product/shanchu.png");
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete i.show {
  background-image: url("../../images/Message/zhenyan.png");
  width: 16px;
  height: 12px;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .delete i.hides {
  background-image: url("../../images/Message/biyan.png");
  width: 17px;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner .accordingP {
  padding: 9px 0 0 7px;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .edit {
  padding: 0 15px;
  height: 30px;
  background-color: #edf1f5;
  border-radius: 15px;
  text-decoration: none;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .edit > i {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-image: url("../../images/product/bianj.png");
  vertical-align: middle;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .edit:hover {
  background-color: #5CA6E2;
  color: #ffffff;
}
.layout > .content > .right > .dataBox > .data > li > .title > .do > .doInner > .edit > span {
  color: #90A3B3;
  text-decoration: none;
}
.layout > .content > .right > .dataBox > .data > .hover:hover {
  background-color: #F5F8FC;
}
.layout > .content > .right > .dataBox > .data > .hover:hover ul {
  background-color: #F5F8FC;
}
.layout > .content > .right > .dataBox > .data > .checked {
  background-color: #dce6ef;
}
.layout > .content > .right > .dataBox > .data > .checked > ul {
  background-color: #dce6ef;
}
.layout > .content > .right > .dataBox > .data > .checked > ul > .do > .doInner > .delete > i {
  background-image: url("../../images/product/shanchu.png");
}
.layout > .content > .right > .dataBox > .data > .checked > ul > .do > .doInner > .edit > i {
  background-image: url("../../images/product/bianji.png");
}
.layout > .content > .right > .dataBox > .data > .checked > ul > .do > .doInner > .edit > span {
  color: #5CA6E2;
}
.layout > .content > .right > .dataBox > .total > li {
  height: 78px;
}
.layout > .content > .right > .dataBox > .total > li > ul {
  display: flex;
  border-top: 1px solid #DFE2E6;
}
.layout > .content > .right > .dataBox > .total > li > ul > .checkboxBox {
  padding-left: 20px;
  padding-right: 45px;
  padding-top: 30px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .checkboxBox > .checkbox {
  vertical-align: middle;
}
.layout > .content > .right > .dataBox > .total > li > ul > .productName {
  padding-top: 28px;
  width: 250px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .productName > span {
  vertical-align: middle;
  margin-right: 20px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .productName > .allMove {
  width: 86px;
  height: 28px;
  border-radius: 4px;
  background-color: #238DE3;
  color: #FFFEFE;
  border: none;
  margin-right: 10px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .productName > .delete {
  width: 67px;
  height: 28px;
  border-radius: 4px;
  background-color: #238DE3;
  color: #FFFEFE;
  border: none;
}
.layout > .content > .right > .dataBox > .total > li > ul > .blank {
  flex: 1;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page {
  width: 530px;
  padding-top: 24px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul {
  height: 28px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .number {
  width: 36px;
  height: 36px;
  color: #999999;
  line-height: 36px;
  font-family: SimSun;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .number:hover {
  background-color: #199EE3;
  color: #ffffff;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .number .on {
  background-color: #199EE3;
  color: #ffffff;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .arrow {
  padding-top: 8px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .left {
  padding-right: 20px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .left > .leftIconBox {
  padding: 5px 0px 0px 20px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .left > .leftIconBox > .icon {
  width: 6px;
  height: 11px;
  background-image: url("../../images/product/left%20b.png");
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .right {
  padding-left: 20px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .right > .rightIconBox {
  padding: 5px 20px 0px 0px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .right > .rightIconBox > .icon {
  width: 6px;
  height: 11px;
  background-image: url("../../images/product/righta.png");
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo {
  padding-top: 8px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > span {
  color: #999999;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > .tiaozhuan {
  margin-left: 30px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > input {
  width: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: #666 1px solid;
  margin-right: 10px;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > .to > i {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  margin-top: -3px;
  background-image: url("../../images/product/go.png");
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > .to:hover {
  color: #238DE3;
}
.layout > .content > .right > .dataBox > .total > li > ul > .page > ul > .goTo > .to:hover > i {
  background-image: url("../../images/product/gogo.png");
}
.layout > .content > .right > .section {
  display: none;
}
.layout > .content > .right > .show {
  display: block;
}
.message-modle {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}
.message-modle > .message-modle-box {
  width: 800px;
  height: 528px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -264px 0 0 -400px;
  border-radius: 6px;
}
.message-modle > .message-modle-box > .message-modle-title > .message-close {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../../images/Message/tuic.png);
  float: right;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show {
  margin: 5px 0 20px 0;
  height: 253px;
  overflow-y: auto;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message {
  padding: 15px 20px;
  background-color: #edf1f5;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 14px;
  color: #595959;
  overflow: hidden;
  line-height: 28px;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message > ul {
  overflow: hidden;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message > ul > li {
  float: left;
  width: 33.3%;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message > ul > .center {
  text-align: center;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message > ul > .right {
  text-align: right;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-show .message-content-show-message .dates {
  float: right;
  font-style: normal;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-revert {
  height: 168px;
  padding: 10px 10px 15px;
  background-color: #edf1f5;
  border-radius: 4px;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-revert .por {
  position: relative;
  height: 100px;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-revert .por span {
  color: #999999;
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-revert .por textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px 5px 5px 38px;
}
.message-modle > .message-modle-box > .message-modle-content .message-content-revert button {
  width: 80px;
  height: 28px;
  background-color: #238de3;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  color: #ffffff;
}
