<!--文章来源-->
<div>
    <el-row>
        <span>选择分类</span>
        <el-cascader v-model="cate" v-loading="loading" :options="cates" change-on-select :props="props" @change="change"></el-cascader>
    </el-row>

    <el-row style="margin-top:10px;margin-left: 60px;">
        <el-transfer v-loading="aloading" filterable  filter-placeholder="请输入文章关键字" :button-texts="['移除','添加']" v-model="selectedArticles" :titles="['可选文章','已选文章']" :props="aprops" :data="allArticles" @change="selectedChanged">
        </el-transfer>
    </el-row>

</div>