<!-- 图文>开启滚动 -->
<div class="showMore">
    <span>开启滚动：</span>
    <input type="radio" name="more">
    <i>是</i>
    <input type="radio" name="more">
    <i>否</i>
</div>
<div class="rollSetting">
    <div class="rollDirection">
        <span>滚动方向：</span>
        <select name="">
            <option value="0">向下</option>
            <option value="0">向上</option>
            <option value="0">向左</option>
        </select>
    </div>
    <div class="rollSpeed showMore">
        <span>滚动速度：</span>
        <input type="radio" name="more">
        <i>慢速</i>
        <input type="radio" name="more">
        <i>普通</i>
        <input type="radio" name="more">
        <i>快速</i>
    </div>
    <div class="rollType showMore">
        <span>滚出方式：</span>
        <input type="radio" name="more">
        <i>移入</i>
        <input type="radio" name="more">
        <i>移出</i>
    </div>
    <div class="rollAuto showMore">
        <span>连续滚动：</span>
        <input type="radio" name="more">
        <i>是</i>
        <input type="radio" name="more">
        <i>否</i>
    </div>
</div>